.drawerActionButton {
  width: 16px;
  height: 16px;
  background-color: grey;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.successActionButton {
  background-color: green;
}

.dangerActionButton {
  background-color: red;
}
